.main-content {
  padding: 20px;
  margin-top: 120px;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
  text-align: right;
}

.btn-primary {
  margin-left: 10px;
}
