<div class="latest-news-container" id="last_news">
  <div class="row">
    <div class="col-12 col-md-6 left-section">
      <div class="news-preview">
        <h1 class="latest-news-title">آخر <span class="highlight">الأخبار</span></h1>
        <p class="news-description">اعتمادنا في مؤسسات حكومية منها مؤسسة ولي العهد التي تضم منصة نحن الحاضنة للمبادرات التطوعية، وشراكات استراتيجية منها جهات موفدة للطلاب وداعمة ونطاقنا يشمل الأردن وفلسطين وإلى كُل طالب عِلم
ومشاركتنا في كرنفالات على مستوى المملكة منها ملتقى التطوع الأردني 2024.</p>
        <div class="additional-info">
          <p>انضم إلينا كمتطوع أو متبرع لدعم هذه الجهود الإنسانية.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 right-section">
      <div class="row">
        <div class="col-12">
          <div class="news-card">
            <span class="category">خبر جديد</span>
            <p class="card-text"> فتح باب الانضمام للفصل الدراسي الجديد.</p>
            <a href="#" class="read-more">↑</a>
          </div>
        </div>
        <div class="col-12">
          <div class="news-card">
            <span class="category">خبر جديد</span>
            <p class="card-text">بدء العام الدراسي بتاريخ 24/08/2025.</p>
            <a href="#" class="read-more">↑</a>
          </div>
        </div>
        <div class="col-12">
          <div class="news-card">
            <span class="category">خبر جديد</span>
            <p class="card-text"> ⁠مشاركتنا في كرنفال عينك على المستقبل بتاريخ 13/08/2025.</p>
            <a href="#" class="read-more">↑</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-actions">
    <a class="hero-btn btn-primary" routerLink="/last-news">شاهد اخر الاخبار</a>
  </div>
</div>
